* {
    box-sizing: border-box;
  }
/* 
  #menu a{
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    padding: 5px;
   } */

   header {
     background-color:#3d0e1e;
     color:white;
   }

   .top-banner {
    display: flex;
    justify-content: space-evenly;
   }

   .hello-header {
     font-size: 100px;
   }

   .arrow-down {
    font-size: 48px;
    margin-top: 62px;
    }

   nav li {
    display: inline;
   }
   .menu{
    display: none;
   }
  
  body {
    font-family: 'McLaren', cursive, sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
  }
  
  nav {
    padding: 1% 0;
    background-color: #f88020;
    text-decoration: none;
  }

  footer {
    padding: 5% 0;
    background-color:#3d0e1e;
    color: white;
    font-size: 30px;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .icon-button {
    margin-right: 15px;
    size: 10px;
  }
  
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu {
    display: flex;
  }

  #git-nav, #portfolio-nav, #linked-nav {
    margin-right: 10px;
    list-style-type: none;
  }

  nav a  {
    text-decoration: none;
  }

  
  header {
    padding: 6% 0;
  }

  .hamburger {
    display: none;
  }

  .bookmark-img, .quiz-img {
    height: 400px;
  }

  @media screen and (max-width: 500px) {
    .bookmark-img, .quiz-img {
      width: 100%;
    }

    .bookmark-img, .quiz-img {
      height: 200px;
    }

    .arrow-down {
      margin-top: 0px;
    }

    .menu {
      display: none;
      max-height: 0;
    }

    .menu-open {
      max-height:100%;
      transition-property: all;
	    transition-duration: .5s;
	    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .menu li {
      display: block;
      text-align: right;
      padding: 10px;
    }

    .hamburger {
      display: block;
      margin: 1rem;
      text-align: right;
    }

    .hello-header {
      font-size: 45px;
      margin-top: 84px;
    }


}

.profile-img {
  height: 200px;
  border-radius: 15rem;
  margin-top: 1rem;
}

  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #fff4e4;
  }

  p {
    line-height: 32px;
  }
  
  section:nth-child(odd) {
    background-color: #d1274b;
    color: white;
  }

 