* {
  box-sizing: border-box;
}

  header {
    background-color:#70566D;
    color:white;
    padding: 6% 0;
  }

  .top-banner {
  display: flex;
  justify-content: space-evenly;
  }

  .hello-header {
    font-size: 45px;
    margin-top: 84px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    padding-top: 6px;
    background-color: #ABC8C0;
    text-decoration: none;
  }
  
  #git-nav, #portfolio-nav, #linked-nav {
    margin-right: 10px;
    list-style-type: none;
  }

  nav a  {
    text-decoration: none;
  }
  
  .profile-img {
    margin-top: 3rem;
    margin-right: 1rem;
    border-radius: 43%;
    height: 200px;
  }
  
  .tallyho-img, .quiz-img, .dozo-img, .digi-doodle-img {
    width: 100%;
    height: 260px;
  }
  
  .hamburger {
    display: block;
    margin: 1rem;
    text-align: right;
    color: #70566D;
  }

  .menu {
    display: none;
    max-height: 0;
  }

  #portfolio-nav, #git-nav, #linked-nav {
    color:#70566D;
  }

  .menu-open {
    max-height:100%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  .menu li {
    display: block;
    text-align: right;
    padding: 10px;
  }

  nav li {
  display: inline;
  }

body {
  font-family: 'McLaren', cursive, sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  margin: 0px;
}

.desc {
  margin-right: 50px;
  margin-left: 50px;
}

.dozo-container {
  background-color: #ABC8C0;
}

.project-container, .dozo-container {
  margin: 10px 10px 10px 10px;
}

.project-title {
  padding-top: 15px;
  font-size: 20px;
}

.project-header, .about-me-header {
  color: #70566D;
  font-size: 2rem;
}

.link-container {
  padding-bottom: 15px;
}

footer {
  padding: 5% 0;
  background-color:#ABC8C0;
  color: #70566D;
  font-size: 30px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.icon-button {
  margin-right: 15px;
  size: 10px;
  color:#70566D;
}

a.icon-button:hover {
  color: white;
}

.dozo-link {
  color:black;
}

.tallyho-link, .digi-doodle-link {
  color: #70566D;
}

/* 800px and above; desktops */
@media screen and (min-width: 800px) {
  .profile-img {
    height: 200px;
    border-radius: 43%;
    margin-top: 2rem;
    margin-right: 73px;
  }

  .hamburger {
    display: none;
  }

  .tallyho-img, .quiz-img, .dozo-img, .digi-doodle-img {
    width: auto;
    height: 400px;
    }
  
  .nav {
    padding-top: 6px;
  }

  .desc {
    margin-right: 200px;
    margin-left: 200px;
  }

  .dozo-container {
    background-color: #ABC8C0;
  }

  .dozo-container, .project-container {
    margin: 100px 100px 100px 100px;
  }

  .project-container {
    margin: 100px 100px 100px 100px;
  }

  .project-title {
    padding-top: 30px;
    font-size: 2rem;
  }

  .link-container {
    padding-bottom: 30px;
  }

  .project-header, .about-me-header {
    font-size: 3rem;
  }

  .hello-header {
    margin-left: 6%;
  }

}

/* 500px and above; tablets */
@media screen and (min-width: 500px) {
  
  .menu {
    display: flex;
    font-weight: bold;
  }

  .hello-header {
    font-size: 100px;
  }
 
  .tallyho-img, .quiz-img, .dozo-img, .digi-doodle-img {/*tablet*/
    height: 437px;
  }
  
  .profile-img {/*tablet*/
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .hamburger {
    display: none;
  }

  .menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  nav {
    height: 55px;
  }
}

section {
  min-height: 200px;
  padding: 3% 0;
  background-color: white;
}

p {
  line-height: 32px;
}

